.page-header h1 {
	display: inline;
}
.table-striped .delbtn {
    cursor: pointer;
    background: #428bca;
    border: none;
}
 .table-striped .delbtn[disabled]{
 	cursor: default;
    background: #999;
    border: none;
 }